
<section class="section is-primary">
  <div class="container">
    <div class="box">
      <h1 class="title is-2">Create Short URL</h1>
      <form action="/links" method="POST">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input type="text" name="short_link[long_url]" value="#{@link.long_url}" class="input">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="submit" value="Save Link" class="button is-link">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>